
.header__header{
   
    padding-left: 5rem;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #435f8a;
    color: white;
}
.logo{
    height: 5rem;
    margin: 1rem 0;
}