

.practioner-table {
    &__header {
      background-color: grey;
      margin: 2rem 0;
      border-radius: .3125rem;
    }
    
    &__cell {
      padding: 0.5rem 1rem;
      &-details{
        padding: 0.75rem 2.5rem;

      }
    }

  }
  
  // Element styles
  .practioner-waitlist {
    &__button {
      padding: 0.5rem 1rem;
    }
    &__table{
      margin: 1rem;
    }
  }
  .practioner-button{
    &__box {
      display: flex;
      justify-content: end;
      padding: 1rem;
      padding-right: 2.15rem;
      padding-top: 0;
    }
  }
  .practioner-table__box{
   margin-bottom: 1rem;
  }

  .patient-details-row {
    padding: 0.5rem 0;
    height: 2rem;
    opacity: 1;
    text-align: left;
    font-weight: 400;
    margin-left: 3rem;
    opacity: 0.10;
  }
  .patient-details-row:hover {
    transition: 0.5s;
    opacity: 0.8;
  }
 