.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #192342;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-capture {
  width: 640px;
  height: 3rem;

  margin-bottom: 2rem;
}
.header__header {
  padding-left: 5rem;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #435f8a;
  color: white;
  align-items: center;
  height: 10rem;
}

video {
  border-radius: 15px;
}

.button__camera {
  padding: 0.5rem 1rem;
  margin: 1.5rem;
}

button {
  border-radius: 5px;
  border: none;
  font-weight: 600;
  color: #3b3b3b;
}
button:hover {
  transition: all 1s;
  background-color: rgb(152, 147, 147);
  color: white;
}
.header__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu__buton {
  padding: 1rem 1.5rem !important;
  background-color: #435f8ada !important;
  color: #fff !important;
}

.App-header {
  padding-bottom: 4rem;
}
