

.table {
    &__header {
        background-color: grey;
        margin: 2rem 0;
        border-radius: .3125rem;
    }
    
    &__cell {
        padding: 0.5rem 1rem;
    }
  }
  
  // Element styles
  .waitlist {
    &__button {
      padding: 0.5rem 1rem;
    }
    &__table{
        margin: 1rem;
      }
  }
  .waitlist-table__box{
    margin-bottom: 1rem;
   }
   .waitlist-table {
    margin-top: -8rem;
   }