// Block styles
.form {
  &body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }

  &__details,
  &__webcam {
    display: flex;
    flex-direction: row;
  }

  &__details-textarea {
    height: 4rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__webcam {
    width: 100%;
    align-items: center;
    margin: 0 0 2rem 0;
    margin-left: 2.15rem;
    
  }
  &__image {
    width: 100%;
    align-items: center;
 
    margin-left: 2.5rem;
    &-item {
      border-radius: 15px;
    }
  }

  &__header {
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
}

// Element styles
.form__button {
  width: 48.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin-top: 0.5rem;
}

.button-capture {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
}

.react-datepicker {
  &__input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
  }
}

.input {
  background-color: red;
  &__sex {
    justify-content: space-between;
    width: 25%;
    & > label {
      align-items: center;
      display: flex;
      & > span {
        margin: 0 0.5rem;
      }
    }
  }
}

input,
select,
textarea {
  background-color: #ffffff59;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  text-align: left;
  padding-left: 1rem;
}
select {
  height: 1.85rem;
}

.form__horizontal {
  display: flex;
  flex-direction: row;
  width: 85%;
  text-align: left;
}

.button-bottom {
  width: 100%;
}
