*,
*::before,
*::after { 
    margin: 0 0; 
    padding: 0; 
    box-sizing: border-box; 

}

.full-size{
    width: 100%;
}

body {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  }

.space-between{
    justify-content: space-between;
}

h1{
    margin-bottom: 1rem;
}

.even-row, .odd-row {

height: 3rem;
}
.odd-row{
    background-color: #f0eeee35;
}
.even-row{
    background-color: #65656535;
}

tr[title] {
  height: 50px;
}
button{
    border-radius: 5px;
border: none;
font-weight: 600;
color: #3b3b3b;
}
button:hover{
    transition: all 1s;
    background-color: rgb(152, 147, 147);
    color: white;
    
}

table {
    border-collapse: collapse;
  }
  
  td,
  th {
    border: none;
  }

  .react-datepicker-popper {

    inset: -20px 500px 0px 0px;
    }

    .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::after, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::after {
    border: 8px solid transparent;
    }

    // .react-datepicker-popper[data-placement^="bottom"] {
    //     margin: -45px 565px;
    //     }