.form {
  &body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }
  &__details,
  &__webcam {
    display: flex;
    flex-direction: column;
  }
}

.form__header {
  margin: 2rem;
}

input,
.birth-input {
  margin-right: 0;
  height: 2rem;
}

.form__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: 640px;
  margin-bottom: 10rem;
}

.centralized {
  justify-content: center;
  justify-content: space-between;
  margin: 0.5rem 0rem;
}

.details__button {
  width: 48.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.details__button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.react-datepicker {
  &__input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
  }
}

.input {
  &__sex {
    display: flex;
    justify-content: space-between;
    width: 25%;
    & > label {
      align-items: center;
      display: flex;
      & > span {
        margin: 0 0.5rem;
      }
    }
  }
}
